<div
    class="md:grid md:grid-cols-2 justify-between overflow-hidden pt-0 items-center flex flex-wrap px-4 mx-auto lg:pt-16 lg:flex-wrap md:px-8 bg-transparent "
>
    <div class="pt-8 md:pt-16 mb-16 lg:mb-0 lg:pt-32 lg:max-w-lg lg:pr-5">
        <div class="max-w-xl mb-6">
            <div>
                <p
                    class="inline-block px-3 mb-4 text-xs font-thin tracking-wider border border-orange-700 py-1 rounded-full text-orange-700 uppercase bg-transparent"
                >
                    Welcome Fellow Human Being
                </p>
            </div>
            <h1
                class="max-w-lg mb-6 text-3xl font-bold tracking-tight text-white sm:text-4xl sm:leading-none"
            >
                Lume Demo Template<br class="hidden md:block" />
                - For Fire
                <span class="inline-block text-deep-purple-accent-400"
                    >a lazy dog</span
                >
            </h1>
            <p class="text-sm text-gray-300 md:text-lg">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa uae. explicabo.
            </p>
            <p class="text-sm text-gray-300 md:text-lg">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="flex items-center">
            <a
                href="{{ siteInfo.repo }}"
                target="_blank"
                class="inline-flex items-center justify-center h-12 px-6 mr-6 font-medium tracking-wide text-white transition duration-200 rounded-lg shadow-md bg-orange-600/90 hover:shadow-orange-500 hover:shadow-sm hover:bg-deep-purple-accent-700 focus:shadow-outline focus:outline-none"
            >
                Get started
            </a>
            <a
                href="/blog"
                aria-label="explore"
                class="inline-flex items-center font-semibold transition ease-in-out text-gray-100 duration-200 hover:text-orange-600"
                >Explore More</a
            >
        </div>
    </div>
    <div class="w-full flex justify-center  items-center md:justify-right md:items-right ">
        <img
            src="assets/hero.png"
            class="md:h-full md:w-auto h-1/5 w-2/5 animate-pulse "
            alt="landing image"
        />
    </div>
</div>
