---
title: "About Template"
---

<section class="p-5 text-white">
    <h1 class="mdTitle text-3xl text-orange-700 mb-3 font-semibold tracking-wider">About Template</h1>
    <blockquote class="text-gray-300 border-l border-gray-400 px-2 py-0.5 my-1 text-md md:text-1xl ">
     Welcome to lume-deno-template, an open-source template for the Lume demo static site generator. Developed by ArnavK-09, this template is designed to make it easy for developers to create static sites with Lume using Deno. With its clean and modern design, lume-deno-template offers a range of features and customization options, making it an ideal choice for developers of all skill levels. Whether you're new to Lume or an experienced user, this template is sure to help you create beautiful and functional static sites in no time. Best of all, lume-deno-template is completely open source, so you can use it, modify it, and contribute to it however you like. So why wait? Download lume-deno-template today and start building your dream static site!
    </blockquote>

    <br/>

    <h1 class="mdTitle text-3xl text-orange-700 mb-3 font-semibold tracking-wider">Version Info </h1>
    <blockquote class=" text-gray-300 border-l border-gray-400 px-2 py-0.5 my-1 text-md md:text-1xl ">
        <div class="p-1.5 rounded-lg  overflow-x-auto ">
            <table class="table-auto rounded-lg w-full bg-orange-700 text-white">
                <thead>
                    <tr>
                        <th class="px-4 py-2 sm:px-6">Name</th>
                        <th class="px-4 py-2 sm:px-6">Version</th>
                        <th class="px-4 py-2 sm:px-6">Repository</th>
                        <th class="px-4 py-2 sm:px-6">Description</th>
                    </tr>
                </thead>
                <tbody class="rounded-lg  bg-orange-600/40 font-medium ">
                    {% for item in[siteInfo] %}
                        <tr class="border-t border-orange-600">
                            <td class="px-4 py-2 sm:px-6">{{ item.name }}
                            </td>
                            <td class="px-4 py-2 sm:px-6">{{ item.version }}</td>
                            <td class="px-4 py-2 sm:px-6">
                                <a href="{{ item }}" target="_blank" class="underline">{{ item.repo  }}</a>
                            </td>
                            <td class="px-4 py-2 sm:px-6">{{ item.description   }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </blockquote>
</section>