---
title: "About Template"
---
<section class="p-5 text-white divide-x " id="about">
<h1 class="mdTitle text-3xl text-orange-700 mb-3 font-semibold tracking-wider">{{ title }}</h1>

<blockquote  class="text-gray-300 border-l border-gray-400 px-2 py-0.5 my-1 text-md md:text-1xl ">
Welcome to lume-deno-template, an open-source template for the Lume demo static site generator. Developed by ArnavK-09, this template is designed to make it easy for developers to create static sites with Lume using Deno. With its clean and modern design, lume-deno-template offers a range of features and customization options, making it an ideal choice for developers of all skill levels. Whether you're new to Lume or an experienced user, this template is sure to help you create beautiful and functional static sites in no time. Best of all, lume-deno-template is completely open source, so you can use it, modify it, and contribute to it however you like. So why wait? Download lume-deno-template today and start building your dream static site!
</blockquote>

</section>


