{% set postslist = search.pages("type=blogPost", "date=desc") %}
<section class="py-4 h-full  pt-6  px-3 ">
    <h1 class="px-2 text-leading font-extrabold text-white text-4xl mb-3  tracking-wider  "> All Blog Posts...</h1>
    {% include "templates/blogPostList.njk" %}
</section>