TODO 
<ul class=" languages">
    {% for pageLang, page in alternates %}
        <li>
            <a href="{{ page.data.url }}" {% if pageLang == lang %} aria-current="page" {% endif %}>
                {{ page.data.title }} ({{ pageLang }})
            </a>
        </li>
    {% endfor %}
</ul>