<div class="border shadow bg-orange-600/10 m-1 font-semibold  tracking-widest border-orange-700 mt-auto py-4 bg-[#131b1e] rounded-md  p-1  text-center">
    <p class="text-orange-600">
    Footer 
    <br>
    <small> Created by ArnavK-09</small>
    </p>
</div>